.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../../../img//lib.jpg') no-repeat;
  background-size: cover;
  background-position: center;

  .wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .form-box {
      width: 100%;
      padding: 40px;
      h2 {
        font-size: 2em;
        color: #162938;
        text-align: center;
      }
      .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid #fff;
        margin: 30px 0;
        .icon {
          position: absolute;
          right: 8px;
          font-size: 1.2em;
          color: #fff;
          line-height: 57px;
        }
        label {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          font-size: 1em;
          pointer-events: none;
          transition: 0.5s;
        }
        input {
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          outline: none;
          font-size: 1em;
          color: #162938;
          font-weight: 600;
          padding: 0 35px 0 5px;
          &:focus ~ label,
          &:valid ~ label {
            top: -5px;
          }
        }
      }
      .btn {
        width: 100%;
        height: 45px;
        background: #162938;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        color: #fff;
        font-weight: 500;
      }
      .register {
        font-size: 1em;
        color: #fff;
        text-align: center;
        font-weight: 500;
        margin: 25px 0 10px;
        a {
          color: #d9aa63;
        }
      }
    }
  }
}
